<html>

<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../script/script.js"></script>
    <script src="https://kit.fontawesome.com/ecb4e5bc3f.js"></script>
</head>

<body style="margin: 0%; padding: 0%">
    <div class="header">
        <div style="height: 250px; width: 300px;" class="pic">
            <img src="../others/MyPic.jpg"
                style="width: 150px; height: 200px; padding: 20px; padding-right: 0px; padding-top: 25px">
        </div>
        <div style="width: 100%; padding-top: 30px">
            <div style="background: rgb(247, 177, 131);">
                <button class="button" onclick="smoothScroll('about')">ABOUT</button>
                <button class="button" onclick="smoothScroll('edu')">EDUCATION</button>
                <button class="button" onclick="smoothScroll('skills')">SKILLS</button>
                <button class="button" onclick="smoothScroll('exp')">EXPERIENCE</button>
                <button class="button button1" onclick="smoothScroll('achieve')">ACHIEVEMENTS</button>
                <button class="button button2" onclick="smoothScroll('hobbies')">HOBBIES</button>
            </div>
            <div style="display: flex">
                <div class="info1">
                    <div
                        style="font-family: sans-serif; text-align:center; font-size: 60px; font-weight: bolder; padding: 20px ">
                        AYUSHI
                    </div>
                    <div
                        style="font-family: sans-serif; text-align:left; font-size: 15px; font-weight: bolder; padding-left: 25px">
                        +91 9650250998
                    </div>
                    <div
                        style="font-family: sans-serif; text-align:left; font-size: 15px; font-weight: bolder; padding-left: 25px">
                        ayushi.bajpai1111@gmail.com
                    </div>
                </div>
                <div class="info2">
                    <p style="padding-left: 20px; font-weight: bold">AYUSHI<br>
                        +91 96502 50998<br>
                        ayushi.bajpai1111@gmail.com</p>
                </div>

                <div style="text-align: end; margin-top:40px; margin-left: 500px;">
                    <a href="https://www.linkedin.com/in/ayushi-bajpai-11b349159/" target="_blank">
                        <i class="fab fa-linkedin-in Icon"></i>
                    </a>
                    <a href="https://github.com/ayushi59" target="_blank">
                        <i class="fab fa-github Icon"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100020069289255" target="_blank">
                        <i class="fab fa-facebook-f Icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="alternateHeader">
        <div style="display: flex">
            <div>
                <p style="padding-left: 20px; font-weight: bold">AYUSHI<br>
                    +91 96502 50998<br>
                    ayushi.bajpai1111@gmail.com</p>
            </div>
            <div style="margin-top: 20px; margin-left: 80px">
                <a href="https://www.linkedin.com/in/ayushi-bajpai-11b349159/" target="_blank">
                    <i class="fab fa-linkedin-in Icon2"></i>
                </a>
                <a href="https://github.com/ayushi59" target="_blank">
                    <i class="fab fa-github Icon2"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100020069289255" target="_blank">
                    <i class="fab fa-facebook-f Icon2"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="section" id="about">
            <p>I am currently in my third year pursuing B.Tech in IT<br>
                I am training in full-stack Web Developement currently and honing my coding skills to <br>make them more optimized and
                developing projects.<br>
                Looking for internships now in order to imbibe more knowledge from industry and give whatever I know
                back to the field <br>
            </p>
        </div>
        <div class="section" id="edu">
            <p style="font-size: 30px">EDUCATION </p>
            <p style="padding-left: 10px">Maharaja Surajmal Institute of Technology, New Delhi</p>
            <p style="padding-left: 25px">Pursuing B.Tech in Information Technology<br></p>
            <p style="padding-left: 25px">GPA: 9.17 (till sem II)<br></p>
            <p style="padding-left: 10px">KV Pushp Vihar, New Delhi [CBSE]</p>
            <p style="padding-left: 25px">XII Science stream<br></p>
            <p style="padding-left: 25px">90.4%<br></p>
            <p style="padding-left: 10px">KV Pushp Vihar, New Delhi [CBSE]</p>
            <p style="padding-left: 25px">X<br></p>
            <p style="padding-left: 25px">10 CGPA<br></p>
        </div>
        <div class="section" id="skills">
            <p style="font-size: 30px">SKILLS </p>
            <p style="padding-left: 10px">Training in full-stack web development currently on node.js, MongoBD, HTML,
                JS,
                CSS<br><br>
                Proficiency in C and C++<br><br>
                Highly comfortable with team-work<br><br>
                Good on sharing and imbibing knowledge </p>
        </div>
        <div class="section" id="exp">
            <p style="font-size: 30px">EXPERIENCE </p>
            <p style="padding-left: 10px">Currently interning with Chefier solution under their Skillfreaks
                wing<br><br>
                Currently developing self-project on WebD</p>
        </div>
        <div class="section" id="achieve">
            <p style="font-size: 30px">ACHIEVEMENTS</p>
            <p style="padding-left: 10px">Won cash prize of INR 5000 for securing 10 CGPA in class X by KVS<br><br>
                Won cash prize of INR 5000 for cluster-level Budding Scientist competition held by HRD
                ministry<br><br>
                Regional level debator in KVS annual debate competition<br><br>
                Led school team to second position in state level Youth Parliament competition and secured first
                position
                individually in the team </p>
        </div>
        <div class="section" id="hobbies">
            <p style="font-size: 30px">HOBBIES & INTERESTS</p>
            <p style="padding-left: 10px">A travel enthusiast who loves to read history through old fort walls and
                explore wildlife<br><br>
                Love to read about entrepreneurs and keep myself updated with tech magazines<br><br>
                An amatuer photographer<br><br>
                Love to learn nurture my graphic designing and photography skills</p>
        </div>
    </div>
</body>

</html>